<div>

    <div class="card boxshadowcard">
      <!-- <div style="float:right">
        <div [style.border-left-color]=getType(CardList.PostType)  class="PostTypeTag">
          <span [style.color]=getType(CardList.PostType)  class="PostTypeTagSpan">{{(CardList.PostType)}}:{{CardList.Subject}}</span>
        </div>
      </div> -->
      <app-postheader [Name]="CardList.UserName" [Image]="CardList.UserImage" [CommunityFrom]="CardList.CommunityFrom"></app-postheader>
      <div class="card-bodyAltered">
        <!-- <div style="text-align:center">
          <span class="SubjectSpan" [style.color]=getType(CardList.PostType)>{{(CardList.PostType)}}:{{CardList.Subject}}</span>
        </div> -->
        
        <div style="margin:5px 0px" *ngIf="CardList.Message!= undefined">
          <span class="MessageSpan">{{CardList.Message}}</span>
        </div>
        
        <div style="text-align:center" *ngIf="CardList.ImageSrc!=undefined">
          <img src={{CardList.ImageSrc}} style="max-width:220px;max-height:425px" />
        </div>
  
        <!-- <div *ngIf="CardList.VideoSrc!=undefined">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src={{CardList.VideoSrc}} allowfullscreen></iframe>
          </div>
        </div> -->
        
        <div *ngIf="CardList.Question != undefined ">
          <app-qapost [Answered]="CardList.Answered" [Question]="CardList.Question"></app-qapost>
        </div>
        
        <div *ngIf="CardList.QuestionPaperLink!= undefined ">
            <app-question-paper-link [QuestionPaperLink]="CardList.QuestionPaperLink"></app-question-paper-link>
          </div>
        <div style="padding-left:10px" *ngIf="CardList.FromTime!='' && CardList.FromTime!=undefined">
          <img class="FromTimeImg" src="assets/Image/Icons/clock0.png" />
          <span class="FromTimeSpan">{{CardList.FromTime}}</span>
        </div>
      </div>
  
  
      <app-feedback [PostID]="CardList.PostID" [PostLike]="CardList.postlike" [PostComment]="CardList.postcomment"
        [PostIntrest]="CardList.postintrest" [PostDownrate]="CardList.postdownrate"></app-feedback>
      <app-commentbox [Name]="CardList.UserName" [Image]="CardList.UserImage" [CommunityFrom]="CardList.CommunityFrom"
        [Comment]="CardList.Comment"></app-commentbox>
    </div>
  </div>