<nav class="navbar navbar-expand-sm navbar-light bg-faded" style="background-color:#8a2be2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
    aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Brand -->
  <a class="navbar-brand" href="#" style="font-size: 25px;
  padding: 5px 10px;color: white;font-family: 'Oregano', cursive;">edpicker</a>

  <!-- Links -->
  <div class="collapse navbar-collapse justify-content-end" id="nav-content" style="margin-right: 50px;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Wall</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Following</a>
      </li>
      <li class="nav-item">
        <a href="#" style="color: white;">You &#9662;</a>
        <ul class="dropdown">
          <li class="dropname"><a href="#" style="color:#8a2be2">Name</a></li>
          <li><a style="color:#6b6b6b" href="#">Manage</a>
          <ul class="managedropdown">
            <li style="color:#6b6b6b">Krishnan Hr Sec School</li>
            <li style="color:#6b6b6b">Krishnan 2 Hr Sec School</li>
          </ul>
          </li>
          <li style="color:#6b6b6b"><a style="color:#6b6b6b" href="#">Sign Out</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>