<div class="row" style="background-color:#8a2be2;margin: 0px">
  <span style="font-size: 40px;
  padding: 5px 20px;color: white;margin: 10px;font-family: 'Oregano', cursive;">edpicker</span>
</div>
<div>
  <div class="row" style="background-color:#8a2be2;margin: 0px;">
    <div class="col-md-7" style="line-height: 300px;text-align:center">
      <h4 style=" display: inline-block;
      vertical-align: middle;
      line-height: normal;color: white;">where seekers consume knowledge from providers</h4>
    </div>
    <div class="col-md-5">
      <div class="SideDiv">
        <div class="form-group">
          <label for="usr" style="color:#303030">Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="pwd" style="color:#303030">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="d-flex justify-content-between">
        <div>
          <input type="button" value="Sign Up" class="btn btn-signup">
        </div>
        <div>
          <input type="button" value="Sign In" class="btn btn-signin">
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="line-height: 500px;text-align:center">
    
    <p class="text">FOLLOW - LEARN - IMPROVE - SHARE</p>
  </div>
  <div class="row bottomshadow" style="margin: 0px;">


    <div class="col-md-4">

    </div>
    <div class="col-md-4 d-flex justify-content-between mb-3" style="font-size: 12px;
    padding: 10px 20px;color: #8a2be2;">
      <a>terms & conditions</a>
      <a>about us</a>
      <a>report</a>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <span style="font-size: 12px;
    padding: 10px 20px;color: #8a2be2;">rights reserved with edpicker</span>
    </div>
  </div>
</div>